.container.mx-auto.mt-20
  .text-center
    = link_to "Create a new quote", insurances_choose_kind_of_quote_path, class: "bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
